<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>음식검색창</title>
</head>
<body>
<div class="title">
    <div class="food_result">
        <span>음식명 :</span>
        <input type="search" value="식품명을 입력해주세요." onFocus="this.value='';return true;">
        <button type="button" value="검색">검색하기</button>
    </div>
</div>
<div class="list">
    <div class="list_result">
        <table class="list_table">
            <thead>
            <tr>
                <th>식품명</th>
                <th>칼로리</th>
                <th>탄수화물</th>
                <th>단백질</th>
                <th>지방</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>